@use './index.scss' as *;
@import 'react-semantic-toasts/styles/react-semantic-alert.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #f2711c;
}

.form {
  .re-app-input {
    input {
      border: 1px solid var(--primary-color) !important;
    }
  }
}