@use './index.scss' as *;
@import 'react-semantic-toasts/styles/react-semantic-alert.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #f2711c;
  --secondary-color: #f8c36f;
  --box-shadow-xl: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  --red-color: #df4343;
}

.form {
  .racti-input {
    input, .selection.ui.dropdown, textarea {
      border: 1px solid var(--primary-color) !important;
    }
  }
}

.ui.header {
  margin: 0px !important;
}

.ui.dropdown {
  display: flex;
   align-items: center;
   .dropdown.icon {
    vertical-align: middle !important;
   }
}

.ui.modal {
  top: 40%;
}

.ui.dimmer {
  background-color: rgba(0, 0, 0, 0.65);
}

.ui.form .divider {
  margin: 0;
}

.ui.statistics {
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.btn-secondary {
  background-color: var(--secondary-color) !important;
  color: white !important;
}

.segment-secondary {
  background-color: var(--secondary-color) !important;
  color: white !important;
}