$white: #ffffff;
$black: #000000;
$teal: #00b5ad;
$lightGray: #dcdcdc;
$lightTeal: rgb(3 184 176);
$lightPurple: #6d69c7;
$primary: #2185d0;

$backgroundGradientPrimary: linear-gradient( 135deg,
    rgb(24, 42, 115) 0%,
    rgb(33, 138, 174) 69%,
    rgb(32, 167, 172) 89%
);
$backgroundLightPrimary: rgb(234, 234, 234);