.racti-datepicker {
    position: absolute !important;
    top: 0px;
    left: 20px;
    width: 100%;
    
    >input {
        width: 200px !important;
    }
}

.create-new-activity {
    .buttons-container {
        padding: 10px 0px;
    }
}