@use '../../../assets/css/index.scss' as *;

.activity-filter {
    height: 500px;
    padding-top: 33px;
    font-size: 12px;
    font-weight: bold;

    .segment {
        padding: 0px;
        &.filters {
            .item{
                padding: 12px !important;
                cursor: pointer;
                >.icon {
                    @include flex-align-center;
                    color: $teal;
                    span {
                        font-size: 10px;
                    }
                }
                &.active {
                    background-color: $backgroundLightPrimary;
                }
            }

            .item:hover {
                background-color: $backgroundLightPrimary;
            }
        }
        &.calendar {
            >.react-calendar {
                width: 100%;
                border: none;
            }
        }
    }
}
