.activity-list-item {
    >.header {
        margin-bottom: 25px !important;
    }
    .card {
        .title-section {
            padding-top: 15px;
            .item {
                .image {
                    width: 100px !important;
    
                    img {
                        width: 95px !important;
                        height: 95px !important;
                        object-fit: cover;
                    }
                }
                .content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    b {
                        color: var(--secondary-color)
                    }
                }
            }
        }

        .content.joiners{
            height: 50px;
        }
    }
}