@use '../../../assets/css/index.scss' as *;

.item {
    &.activity-item {
        margin-bottom: 22px !important;
        >.content {
            >.header {
                font-size: 12px !important;
                color: $teal !important;
                text-transform: uppercase;
            }
            >.segment {
              padding: 0px;
              box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
              >.meta {
                padding: 12px;
                @include flex-align-center;
                gap: 10px;
                margin: 0px;
                border-bottom: 1px solid $light-gray;
                >.title {
                  >.header {
                    margin-bottom: 8px;
                  }
                  p {
                    font-weight: 700;
                    font-size: 12px;
                    >.host-name {
                      color: $teal;
                      font-weight: bolder;
                    }
                  }
                  
                }
              }
              >.description{
                font-weight: bold;
                font-size: 13px;
                padding: 5px 0px;
                >.join-info {
                  padding: 7px;
                  border-bottom: 2px solid $light-gray;
                }
                >.participant{
                  padding: 10px;
                  background-color: $background-white-color;
                  @include flex-align-center;
                  gap: 5px;
                  border-bottom: 2px solid $light-gray;
                  >.avatar {
                    border: 1px solid $light-gray;
                  }
                }
              }
              >.extra {
                padding: 0px 12px 10px;
              }
            }
        }

        img {
          cursor: pointer;
        }
    }
}