.activity-members{
    .card {
        .content {
            .items {
                .item-container {
                    border-bottom: 0.5px solid lightgray;
                    padding: 10px 0px;
                    .item {
                        display: flex;
                        gap: 5px;
                        .content {
                            .header {
                                color: #193479;
                                font-weight: 600;
                                font-size: 12px;
                            }

                            .meta {
                                font-size: 10px;
                                color: orange;
                                font-weight: 600;
                            }
                        }
                        .image {
                            width: auto;
                            img {
                                border: 0.5px solid lightgray;
                                width: 70px;
                                height: 70px;
                                object-fit: cover;
                                margin:0px
                            }
                        }
                    }
                }

                .item-container:first-child {
                    padding-top: 0px;
                }

                .item-container:last-child {
                    border-bottom: none;
                }
            }
        }
    }
}