@use '../../assets/css/index.scss' as *;

.home-container {
    @include flex-col-center;
    background-image: $background-image-color;
    height: inherit;

    >.header {
        color: $white;
    }

}