@use '../../assets/css/index.scss' as *;

.racti-header {
    height: 52px;
    @include primary-background;
    
    .ui.menu {
        background-color: transparent;
        width: 100%;
        border: none;
        box-shadow: none;
        >.item {
            &:first-child {
                padding-left: 0;
            }
        }
    }
}