@use '../../assets/css/index.scss' as *;


.ui.segment {
    @include primary-background;
    .row {
        height: 60px;
        align-items: center;

        .navbar {
            gap: 10px
        }

        .profile-menu-trigger {
            display: inline-flex;
            align-items: center;
            gap: 5px
        }
    }
}